#companies_div {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.company_container {
	display: block;
	overflow: auto;
	margin: 20px;
}

.space{
	margin-left: 3px;
	margin-right: 3px;
}

.alignLeft{
	float: left;
}

.alignRight{
	float: right;
}