<div id="companies_div">
  <h1 class="space">{{selectedCareerFair}}</h1>
  <div class="sidenav alignLeft">
    <h1 class="space sidenavHeader">Career Fairs</h1>
    <ng-template #careerFairInsert></ng-template>
  </div>
  <div class="sidenav alignRight">
    <h1 class="space sidenavHeader">Fair Statistics</h1>
    <ng-template #statsInsert></ng-template>
  </div>
  <br><br>
  <h4>Registered Companies</h4>
  <div class="company_container">
    <ng-template #companyInsert></ng-template>
  </div>
  <div *ngIf="selectedCareerFair == curCareerFair">
    <h4>Company Registration</h4>
    <div class="company_container">
  	  <input class="alignLeft space" placeholder="Enter Company Name" (keyup)="onKey($event)">
  	  <button class="alignRight space" (click)="addCompany($event)">Add Company</button>
    </div>
  </div>
  <h4>Career Fair Creation</h4>
  <div class="company_container">
    <div>
      <input class="alignLeft space" placeholder="Enter Career Fair Name" (keyup)="onKeyFairName($event)">
    </div>
    <div>
      <input class="alignLeft space" placeholder="Enter Career Fair Comments" (keyup)="onKeyFairComments($event)">
      <button class="alignRight space" (click)="addCareerFair($event)">Add Career Fair</button>
    </div>
  </div>
  <div class="company_container">
    <button class="space" (click)="backRedirect($event)">Back</button>
  </div>
</div>
