#companies_div {
  text-align: center;
  max-width: 600px;
  /* Same as the width of the sidebar */
  /*margin-left: 360px; */
  margin: auto;
  padding: 0px 10px;
}

.company_container {
	display: block;
	overflow: auto;
	padding: 20px;
}

.space{
	padding-left: 3px;
	padding-right: 3px;
}

.alignLeft{
	float: left;
}

.alignRight{
	float: right;
}

.sidenavHeader {
  color:#FFFFFF;
  border-bottom: solid white 2px;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 360px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #5D0F0D; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidebarFooter {
height:40px;
width:100%;
    position:absolute;
    bottom:0;
}