<div style="text-align:center">
  <h1>Interviews for {{company_name}}</h1>
  <!--<p>{{code}}</p>-->
  <!--<p>{{json}}</p>-->
  <table id="interview_table" style="text-align:center">
    <tr>
      <th>Interviewee Name</th>
      <th>Check-In Time</th>
    </tr>


    <!--<div class="content container">-->
    <!--</div>-->
<!--
    <tr ng-repeat="value in name_array">
      <td>{{ value }}</td>
      <td>nothing</td>
    </tr>-->

    <!--
    <tr>
      <td>John Smith</td>
      <td>11:30 AM</td>
    </tr>
    <tr>
      <td>Jane Doe</td>
      <td>12:00 PM</td>
    </tr>
    -->
  </table>

  <ng-template #interview></ng-template>

</div>
